@import "https://fonts.googleapis.com/css?family=Play";

body {
  background-image: url("afbeeldingen/achtergrond.jpg");
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 1.2em;
  justify-items: center;
}

.wrapper .content {
  display: none;
}

label {
  color: rgba(255, 187, 51, 0.8);
}

.wrapper img.mButton {
  max-width: 220px;
  transition: transform .3s ease-out, box-shadow .4s ease-out;
}

.wrapper img.mButton:hover {
  transform: scale(1.1);
  box-shadow: .5em .5em 2em white;
}

.cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80vw;
  grid-gap: 1.5em;
}

.grid img {
  max-width: 100%;
}

.contentBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  justify-items: center;
  align-items: center;
}

.hiddenContent {
  max-width: 80%;
  padding: 2em;
  border-radius: 6px;
  background-color: rgb(51, 51, 51);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1em;
  animation: reveal 1s ease-in-out;
  border: solid;
  border-color: darkred;
}

@keyframes reveal {
  0% {transform: scale(0)}
  100% {transform: scale(1)}
}


.exitButton {
  width: 3em;
  justify-self: end;
  cursor: pointer;
  font-size: 2em;
  font-weight: 900;
  background-color: rgb(51, 51, 51);
  transform: translateX(.5em);
  border: 0;
  color: rgba(255, 187, 51, 0.5);
}
.exitButton:hover {
  color: red;
}

article {
  color: rgba(255, 187, 51, 0.8);
  cursor: default;
}

.password {
  margin-left: 26.5px;
}

.password2 {
  margin-left: 57.5px;
}

.username {
  margin-left: 31px;
}

#logButton {
  margin-left: 216px;
}
#regButton {
  margin-left: 222.5px;
}

/* menu */
.pie {
  background: #000;
  border-radius: 50%;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 400px;
  left: -200px;
  position: absolute;
  top: -200px;
  width: 400px;
  transform: translateX(-200px) translateY(-200px);
  transition: transform 300ms;
}
.pie-color:hover {
  opacity: 0.85;
}
.pie-color:active {
  opacity: 0.7;
}
.pie1 {
  clip-path: polygon(200px 200px, 344px 450px, 0 450px);
  transition-delay: 30ms;
}
.pie2 {
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  transition-delay: 60ms;
}
.pie3 {
  clip-path: polygon(200px 200px, 450px 0, 450px 344px);
  transition-delay: 90ms;
}
.pie-color {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.pie-color1 {
  background: linear-gradient(135deg, #f12711, #f5af19);
  clip-path: polygon(200px 200px, 344px 450px, 0 450px);
}
.pie-color2 {
  background: linear-gradient(135deg, #444, #7e84f9);
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}
.pie-color3 {
  background-color: green;
  background-image: url("afbeeldingen/trophy.gif");
  background-size: 18%;
  clip-path: polygon(200px 200px, 450px 0, 450px 344px);
}
.menu {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 200px;
  left: -100px;
  position: absolute;
  top: -100px;
  width: 200px;
}
.hamburger {
  cursor: pointer;
  height: 46px;
  left: 58%;
  position: relative;
  top: 58%;
  width: 46px;
}


.hamburger path {
  transition: transform 300ms;
}
.hamburger path:nth-child(1) {
  transform-origin: 25% 29%;
}
.hamburger path:nth-child(2) {
  transform-origin: 50% 50%;
}
.hamburger path:nth-child(3) {
  transform-origin: 75% 72%;
}
.hamburger path:nth-child(4) {
  transform-origin: 75% 29%;
}
.hamburger path:nth-child(5) {
  transform-origin: 25% 72%;
}
.active .pie {
  transform: translateX(0) translateY(0);
}
.active .hamburger path:nth-child(1) {
  transform: rotate(45deg);
}
.active .hamburger path:nth-child(2) {
  transform: scaleX(0);
}
.active .hamburger path:nth-child(3) {
  transform: rotate(45deg);
}
.active .hamburger path:nth-child(4) {
  transform: rotate(-45deg);
}
.active .hamburger path:nth-child(5) {
  transform: rotate(-45deg);
}


.logo {
  text-align: center;
  font-size: 200%;
    text-shadow: 1px 1px red;
    color: black;
}

.logo img {
  margin-top: -3%;
  width: 10%;
}

.positions {
  text-align: center;
  font-size: 200%;
  color:  #80bfff;
}
